@{
  //  ViewBag.Title = "EditContact";
}

<h2>Phone Book</h2>
 <link rel="stylesheet" type="text/css" href="~/Content/themes/StyleIndex.css"/>
<div>
        <table>
            <tr>
                <td>
                    <h2 style="font-size:26px;">Edit Contacts</h2>
                    <h4>Details</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <ul style="list-style:none;">
                        <li style="float:left; width:150px; text-decoration:none; color:black;"><a href="/ContactManager/Index">Manage Contacts</a></li>
                        <li style="float: left; width: 150px; text-decoration: none; color: black;"><a href="/UserManager/Index">Manage Users</a></li>
                        @if(MvcPhonebook.Models.AuthenticationManager.LoggedUser == null)
                        {
                            <li style="float: left; width: 150px; text-decoration: none; color: black;"><a href="/Home/Login">Login</a></li>
                        }
                        else
                        {
                            <li style="float: left; width: 150px; text-decoration: none; color: black;"><a href="/Home/Logout">Logout</a></li>
                        }
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    @{
                        
                        DataAccess.Entity.Contact cont = (DataAccess.Entity.Contact)ViewData["contact"];
                    }
                    <form action="/ContactManager/EditContact" method="post">
                        <input type="hidden"  name="Id" value="@cont.Id"/>
                        <input type="hidden" name="ParentUserId" value="@cont.ParentUserId"/>
                        <fieldset>
                            <legend>Edit  Contact</legend>
                            <table>
                                <tr>
                                    <td> Full Name: </td>
                                    <td><input type="text" value="@cont.FullName" name="FullName"/></td>
                                </tr>
                                <tr>
                                    <td>Email: </td>
                                    <td><input type="text" value="@cont.Email" name="Email" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><input  type="submit" value="Save"/>&nbsp<a href="/ContactManager/Index">Cancel</a></td>
                                </tr>
                            </table>
                        </fieldset>

                    </form>
                </td>
            </tr>
            </table>
            </div>